host: "0.0.0.0"
port: "8080"

postgres:
  database: "meemo_db"
  user: "meemo_user"
  password: "meemo_password"
  host: "postgres"
  port: "5432"
  retries: 5
  pool_size: 10
  ssl_mode: "disable"

s3:
  minio_endpoint: "minio:9000"
  minio_access_key_id: "minioadmin"
  minio_secret_key: "minioadmin"
  minio_use_ssl: false
  minio_bucket_name: "meemo-bucket"

s3_bucket_name: "meemo-bucket"

